* {
  padding: 0;
  margin: 0;
}

nav img {
  margin-right: 4rem;
}

.nav-link {
  color: black;
  font-weight: 500;
}

.nav-item {
  padding-right: 2rem;
}

button {
  padding: 0.4rem 1rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  color: black;
  font-weight: 500;
  background-color: #F4CE14;
  align-self: center;
}

button:hover {
  background-color: black;
  color: white;
  transition:0.2s;
}

.header {
  background-color: rgb(73, 94, 87);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.desc {
  grid-column: 2 / span 1;
}

.header img {
  width: 70%;
  height: auto;
  border-radius: 1rem;
  grid-column: 3 / span 1;
}

.desc p {
  color: white;
  font-weight: 500;
  font-stretch: expanded;
} 

.desc h2 {
  color: #F4CE14;
  margin-bottom: 0;
}

.desc h4 {
  color: white;
}

.menu {
  padding: 3rem 10rem;
  display: grid;
  grid-gap: 2rem;
}

.specials {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card-title {
  display: grid;
  grid-template-columns: 1fr auto;
}

.price {
  align-self: flex-end;
  color: #F4CE14;
}

.card-text {
  font-weight: 200;
  font-size: small;
}

.about {
  padding: 3rem;
}

.about img {
  width: 50%;
  float: left;
  padding: 0 2rem;
}

.footer {
  background-color: rgb(73, 94, 87);
  color: white;
  padding: 3rem 10rem 1rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  font-size: small;
  line-height: 0;
}

.footer h6 {
  padding-bottom: 0.5rem;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 2rem 1rem;
}

.reservation button {
  margin-top: 1rem;
}

.row {
  background-color: rgb(73, 94, 87);
  color: white;
  padding: 4rem 18rem 5rem 18rem;
  text-align: start;
  font-size:small;
  font-weight:500
}

.photos {
  margin: 0rem 10rem 0rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
} 

.photos img {
  border-radius: 1rem;
  height: 100%;
}

.list-group-item {
  background-color: rgb(73, 94, 87);
  color: white;
}

svg {
  margin-right: 0.5rem;
}
